
argon2-cffi 
async-generator==1.10
attrs 
backcall==0.2.0
bleach 
certifi==2020.12.5
cffi 
cloudpickle 
colorama 
cycler==0.10.0
cytoolz==0.11.0
dask 
decorator==4.4.2
defusedxml==0.6.0
entrypoints==0.3
future==0.18.2
imagecodecs 
imageio 
importlib-metadata 
ipykernel 
ipython 
ipython-genutils 
ipywidgets 
jedi 
Jinja2==2.11.2
joblib 
jsonschema 
jupyter==1.0.0
jupyter-client 
jupyter-console 
jupyter-core 
jupyterlab-pygments 
kiwisolver 
MarkupSafe 
matplotlib 
mistune 
mkl-random==1.1.1
mkl-service==2.3.0
nbclient 
nbconvert
nbformat 
nest-asyncio
networkx 
notebook 
numpy 
olefile==0.46
packaging 
pandas 
pandocfilters 
parso==0.7.0
pickleshare 
Pillow 
prometheus-client 
prompt-toolkit 
pycparser 
Pygments 
pyparsing==2.4.7
pyrsistent 
python-dateutil==2.8.1
pytz 
PyWavelets 
pywin32==227
pywinpty==0.5.7
PyYAML==5.3.1
pyzmq==20.0.0
qtconsole 
QtPy==1.9.0
scikit-image==0.17.2
scikit-learn 
scikit-rf==0.15.4
scipy 
seaborn 
Send2Trash 
six 
terminado==0.9.1
testpath==0.4.4
threadpoolctl 
tifffile 
toolz 
tornado 
traitlets
wcwidth 
webencodings==0.5.1
widgetsnbextension==3.5.1
wincertstore==0.2
zipp 
